@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>
<p>An error occurred while processing your request.</p>
@if (ViewBag.ErrorMessage != null)
{
    <p>@ViewBag.ErrorMessage</p>
}
@if (ViewBag.ResponseContent != null)
{
    <pre>@ViewBag.ResponseContent</pre>
}
